/*
 * Copyright 2020 Luke Zhang
 * MIT License
 */

// Minimal Functional Fox variables

// General
$mff-bg: #292f36;
$mff-icon-color: #e0fbfc;
$mff-nav-toolbar-padding: 8px;

// Sidebar
$mff-sidebar-bg: $mff-bg;
$mff-sidebar-color: #e0fbfc;

// Tabs
$mff-tab-border-radius: 0;
$mff-tab-color: #fefefa;
$mff-tab-font-family: "Cantarell", sans;
$mff-tab-font-size: 11pt;
$mff-tab-font-weight: 400;
$mff-tab-height: 32px;
$mff-tab-pinned-bg: #70c1b3;
$mff-tab-selected-bg: #ee6c4d;
$mff-tab-soundplaying-bg: #9c89b8;

// Urlbar
$mff-urlbar-color: #98c1d9;
$mff-urlbar-focused-color: #e0fbfc;
$mff-urlbar-font-family: "Cantarell", serif;
$mff-urlbar-font-size: 12pt;
$mff-urlbar-font-weight: 700;
$mff-urlbar-results-color: #e0fbfc;
$mff-urlbar-results-font-family: "mononoki Nerd Font", serif;
$mff-urlbar-results-font-size: 12pt;
$mff-urlbar-results-font-weight: 700;
$mff-urlbar-results-url-color: #98c1d9;
